<div class="container mt-4">
  <div class="row mb-2">
    <div class="col-sm-6">

    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="btn-group btn-group-interactions" style="top:-3px;" role="group">
        <button class="btn btn-like btn-interaction"  onclick="this.blur();"><i class="fa fa-heart member-icon" aria-hidden="true"></i></button>
        <button class="btn btn-message btn-interaction"  onclick="this.blur();"><i class="fa fa-envelope member-icon" aria-hidden="true"></i></button>
        <button class="btn btn-share btn-interaction"  onclick="this.blur();"><i class="fa fa-user-plus member-icon"></i></button>
      </div>
      <div class="card main-card mt-2">
        <div class="img-border-container mt-4">
        <div class="img-container">
          <img src="{{user.photoUrl || '../../../../../assets/images/user.png'}}" alt="{{user.knownAs}}" class="img-profile">
        </div>
      </div>
        <div class="card-body info-body pb-5">
          <h5 class="mb-3 text-center profile-name"><strong>{{user.knownAs}}</strong></h5>
          <div>
            <strong>Location: </strong>
            <p>{{user.city}}, {{user?.country}}</p>
          </div>
          <div>
            <strong>Age: </strong>
            <p>{{user.age}}</p>
          </div>
          <div>
            <strong>Last Active: </strong>
            <p>{{user.lastActive | timeAgo}}</p>
          </div>
          <div>
            <strong>Member Since: </strong>
            <p>{{user.created | date: 'mediumDate'}}</p>
          </div>
        </div>
        <div class="card-footer info-footer">
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset class="member-tabset">
          <tab heading="About {{user?.knownAs}}">
            <h4>Description</h4>
            <p>{{user.introduction}}</p>
            <h4>Looking For</h4>
            <p>{{user.lookingFor}}</p>
          </tab>
          <tab heading="Interests">
            <h4>Interests</h4>
            <p>{{user.interests}}</p>
          </tab>
          <tab heading="Photos">
            <div class="card-columns">
               <div class="card" *ngFor="let item of galleryPhotos">
                  <img class="card-img-top" [src]="item.url" [alt]="item.description" />
                  <div class="card-body">
                    <h5 class="card-title mt-1">{{ item.title }}</h5>
                    <p class="card-text"> {{ item.dateAdded | date: "medium" }} </p>
                    <p class="card-text">{{ item.description }}</p>
                    <hr>
                    <p class="card-text">
                        <small *ngFor="let tag of item.tags" class="text-muted">{{ tag.tagName }} </small>
                    </p>
                   </div>
                </div>
            </div>
          </tab>
          <tab heading="Messages">
            <p>Messages will go here</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>
