/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min';
@import '../node_modules/bootswatch/dist/minty/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';
@import '../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';

/* Global styles */

body {
  color:#F2F9F7;
}

p, label, span, strong{
  color: #5a5a5a;
}

/* dark text green color: #6CAE9B;*/

/* Styles for tabbed component */

  .tab-panel {
    padding: 10px;
    border-radius: 4px;
  }

  .tab-pane {
    padding:25px;
  }

  element.style {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 4px;
  }

  .nav-tabs > li.open, .member-tabset > .nav-tabs > li:hover {
    border-bottom: 4px solid rgb(120, 194, 173, .2);
  }

  .nav-tabs .nav-link {
    border-top-left-radius: 0.4rem;
    border-top-right-radius: 0.4rem;
    background-color: rgb(236, 236, 236);
    margin-left: 1px;
  }

  .member-tabset > .nav-tabs > li.open > a, .member-tabset > .nav-tabs > li:hover > a {
    border: 0;
    background-color: rgb(217, 217, 217, .9);
    color: #333333;
  }

  .member-tabset > .nav-tabs > li.active > a {
    border: 0 !important;
    background-color: rgb(217, 217, 217, .9);
    color: #333333;
  }

  .member-tabset > .nav-tabs > li.open > a > i, .member-tabset > .nav-tabs > li:hover > a > i {
    color: #a09d9d;
  }

  .member-tabset > .nav-tabs > li.open .dropdown-menu, .member-tabset > .nav-tabs > li:hover .dropdown-menu {
    margin-top: 0px;
  }

  .member-tabset > .nav-tabs > li.active {
    border-bottom: 3px solid #78C2AD;
    position: relative;
  }

  .member-tabset > .nav-tabs > li.active > a > i {
    color: #404040;
  }

  .member-tabset > .tab-content {
    margin-top: -3px;
    background-color: #fff;
    border: 0;
    border: 1px solid #eee;
    padding:25px;
    padding: 15px 0;
    border-top-right-radius: 0.4rem;
  }
